/*Navbar Routes Menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  ul {
    position: fixed; /*Fix Top Header*/
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  li {
    float: inline-start;
  }
  
  /*Border Navbar*/
  /*li {
    border-right: 1px solid #bbb;
  }
  
  li {
    border-right: 1px solid #bbb;
  }*/
  
  /*Border Navbar*/
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 5px 40px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: none;
  }
  
  /*.active {
    background-color:   #0088ff;
  }*/

  .topnav-right {
    float: right;
    position: relative;
  }

  /*Navbar Routes Menu*/


  /*Dropdown Profile Menu*/

  .dropdown {
    position: relative;
    display: block;
    color: white;
  }
  
  .dropdown-content {
    margin-top: 25px; /*Fix Menu Buttom Username*/
    display: none;
    position:  fixed; /*Fix Menu 1 Row*/
    color: #000000;
    background-color: #000000;
    min-width: 150px;
    min-height: 80px;
    padding: 10px 10px;
    z-index: 1;
    text-align: center;
    float: right;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  img {
    border-radius: 50%;
    margin-left: 10px;
    border: 10px;
    
  }

  /*Dropdown Profile Menu*/

  /*.dropdown {
    position: relative;
    display: block;
    font-weight: bold;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position:  relative;
    color: #000000;
    background-color: #f9f9f9;
    min-width: 125px;
    min-height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 15px;
    z-index: 1;
    text-align: center;
    float: right;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }*/

  